@import "tailwindcss";

.light {
  --color-bg: #fafbf5;
  --color-bg-offset: #f2ede9;
  --color-text: #41474C;
  --color-text-offset: #757D84;
  --color-border: #e8e0d9;
  --color-primary: #99C221;
  --color-primary-offset: #90b42b;
  --color-prymary-hover: #a4ac0c;
  --color-secondary: #E55812;
}

.dark {
  --color-bg: #16161a;
  --color-bg-offset: #29293e;
  --color-text: #fffffe;
  --color-text-offset: #94a1b2;
  --color-border: #383a61;
  --color-primary: #7f5af0;
  --color-primary-offset: #dc59fd;
  --color-prymary-hover: #d426ff;
  --color-secondary: #2cb67d;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}